# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
dist/
env/
venv/
.venv/
*.egg-info/
*.egg
MANIFEST
*.spec

# Configuration files
crosshair_app/config.ini